<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="./css/mainCss/main.css">
</head>
<body>
    <img class="img-1" src="./img/un1.png">
    <img class="img-2" src="./img/un2.png">

    <br>

    <button class="btn-Create-User">
        <a class="btn-Create-User-a" href="http://">
            Create User
        </a>
    </button>

    <button class="btn-Show-User">
        <a asp-controller="User" asp-action="Show" class="btn-Show-User-a">
            Show Users
        </a>
    </button>

    <button class="btn-Create-Address">
        <a class="btn-Create-Address-a" href="http://">
            Create Address
        </a>
    </button>

    <button class="btn-Show-Address">
        <a class="btn-Show-Address-a" href="http://">
            Show Address
        </a>
    </button>
</body>
</html>
</html>